/* margin and font */
* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

body {
    width: 100vw;

}

/* all Divs in container */
/* container - centers all content with in container */
.container {
    width: 50%;
    height: 100%;
    border: solid black 2px;
    padding-top: 70px;
    padding-bottom: 70px;

    /* display= flex - allows fluditiy of the containers content */
    display: flex;
    /* set direct to column to prevent everything on same line */
    flex-direction: column;
    /* align items vertically - centered */
    align-items: center;
    /* justify content horizontally - centered */
    justify-content: center;
}

.centered-content {
    /* display= flex - allows fluditiy of the containers content */
    display: flex;
    /* set direct to column to prevent everything on same line */
    flex-direction: column;
    /* align items vertically - centered */
    align-items: center;
    /* justify content horizontally - centered */
    justify-content: center;
    width: 100%;
}

/* navigation bar style */

nav {
    position: fixed;
    width: 100vw;
}
/* nav ul selects any ul that is inside a nav */
nav ul {
    /* list style type: none means you will remove bullet points */
    list-style-type: none;
    /* display should center the writing */
    display: flex;
    background-color: rgb(255, 0, 0);
    color: rgb(26, 49, 0);
}

/* list items within any navigation bar styles */
nav ul li {
    /* padding - space between element and border */
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    /* margin - space between border and other elements */
    margin: 5px;
    /* cursor: pointer changed the cursor to point instead of text select */
    cursor: pointer;
}

/* this is so you can see the main title */
#nav-placeholder{
    height: 40px
  }


/* paragraph */
p {
    color: rgb(71, 0, 0);
}

/* blue class sets background aliceblue*/
.blue-bg {
    background-color: rgb(0, 136, 255);
    
}

p {
    background-color: red;
}

#title {
    background-color: #2fa0a8;
    font-size: 30;
    font-family: 'Times New Roman', Times, serif;
}


#first-paragraph {
    color: blueviolet;
    background-color: #2fa0a8;
    

}


#the-end {
    background-color: rgb(198, 226, 43);
}

/* animation movement controls */
#movement {
    position:relative;
    animation: makesquare 5s infinite;
}


/* image animation */
@keyframes makesquare {
0% {left:0px; top: -242px;}
20% {left:230px; top: -242px;}
40% {left:230px; top: 0px;}
60% {left:-230px; top: 0px;}
80% {left:-230px; top: -242px;}
100% {left: 0px; top: -242px;}

}