/* margin and font */
* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

body {
    width: 100vw;
}

/* all Divs in container */
/* container - centers all content with in container */
.container {
    width: 100%;
    height: 100%;

    /* display= flex - allows fluditiy of the containers content */
    display: flex;
    /* set direct to column to prevent everything on same line */
    flex-direction: column;
    /* align items vertically - centered */
    align-items: center;
    /* justify content horizontally - centered */
    justify-content: center;

}

/* navigation bar style */
/* nav ul selects any ul that is inside a nav */
nav ul {
    /* list style type: none means you will remove bullet points */
    list-style-type: none;
    /* display should center the writing */
    display: flex;
    background-color: rgb(255, 0, 0);
    color: rgb(26, 49, 0);
}

/* list items within any navigation bar styles */
nav ul li {
    /* padding - space between element and border */
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    /* margin - space between border and other elements */
    margin: 5px;
}

/* paragraph */
p {
    color: rgb(71, 0, 0);
}

/* blue class sets background aliceblue*/
.blue-bg {
    background-color: rgb(0, 106, 199);
}


#title {
    background-color: #2fa0a8;
    font-size: 30;
    font-family: 'Times New Roman', Times, serif;
}


#first-paragraph {
    color: blueviolet;
    background-color: #2fa0a8;

}


#the-end {
    background-color: blueviolet;
}

/* animation movement controls */
#movement {
    position: relative;
    animation: makesquare 2s infinite;
}


/* image animation */
@keyframes makesquare {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 100px;
        left: 0px;
    }

    75% {
        top: 100px;
        left: 100px;
    }

    100% {
        Top: 0px;
        left: 100px;
    }

}